Repository snapshot-labs/snapshot-spaces, pull requests merged in 2021-05, with the labels that each got.

#1164 Add treatvote.eth
  spaces/treatvote.eth/logo.png
  spaces/treatvote.eth/space.png
Labels: invalid

#1174 add pantherswap.eth space and custom domain
  spaces/domains.json
  spaces/pantherswap.eth/logo.png
  spaces/pantherswap.eth/space.png
Labels: domain

#1184 Adding Alchemist Defi Logos and Space
  skins/alchemistdefi.scss
  spaces/alchemistdefi.eth/logo.png
  spaces/alchemistdefi.eth/space.png
  spaces/domains.json
Labels: domain

#1185 Add: Feeder Finance images and custom domain
  spaces/domains.json
  spaces/feederfinance.eth/logo.png
  spaces/feederfinance.eth/space.png
Labels: domain

#1191 feat: Add adventureland skin, domain, and images
  skins/adventureland.scss
  spaces/adventurelandfinance.eth/logo.png
  spaces/adventurelandfinance.eth/space.png
  spaces/domains.json
Labels: domain

#1195 add elasticbnb.eth
  spaces/domains.json
  spaces/elasticbnb.eth/logo.png
  spaces/elasticbnb.eth/space.png
Labels: domain

#1201 Update domains.json
  spaces/domains.json
Labels: domain

#1194 Add spookyswap images, domain, and skin
  skins/spooky.scss
  spaces/domains.json
  spaces/spookyswap.eth/logo.png
  spaces/spookyswap.eth/space.png
Labels: domain

#1208 Update Ampleforth Space
  spaces/ampleforthorg.eth/logo1.png
  spaces/ampleforthorg.eth/space.png
  spaces/domains.json
Labels: domain

#1212 PR to add custom domain
  spaces/domains.json
Labels: domain

#1213 Added Space and domain for fontcommunity.eth
  spaces/domains.json
  spaces/fontcommunity.eth/logo.png
  spaces/fontcommunity.eth/space.png
Labels: domain

#1216 Add domain & logo for vbswap eth
  spaces/domains.json
  spaces/vbswap.eth/logo.png
  spaces/vbswap.eth/space.png
Labels: domain

#1218 Add Rotomoon.eth Logo & domain
  spaces/domains.json
  spaces/rotomoon.eth/logo.png
  spaces/rotomoon.eth/space.png
Labels: domain

#1226 Add Munch domain
  spaces/domains.json
Labels: domain

#1225 Add Munch Space
  spaces/munchproject.eth/logo.png
  spaces/munchproject.eth/space.png
Labels: invalid

#1229 Add ENS for Pickle space
  spaces/aliases.json
  spaces/pickle.eth/logo.png
  spaces/pickle.eth/space.png
Labels: migration

#1231 gmetoen
  spaces/domains.json
  spaces/gmetoken.eth/logo.png
  spaces/gmetoken.eth/space.png
Labels: domain

#1227 Add zoocoin
  skins/zoocoin.scss
  spaces/domains.json
  spaces/zoocoin.eth/logo.png
  spaces/zoocoin.eth/space.png
Labels: domain

#1234 added behodler space
  spaces/behodler.eth/logo.png
  spaces/behodler.eth/space.png
  spaces/domains.json
Labels: domain

#1245 Add Fairmoon logos, alias, and domain
  spaces/domains.json
  spaces/fairmoon.eth/logo.png
  spaces/fairmoon.eth/space.png
Labels: domain

#1247 Please add PlantSwap.finance logo, space and skin
  skins/plantswap.scss
  spaces/plantswap.eth/logo.png
  spaces/plantswap.eth/space.png
Labels: invalid

#1250 Adding images and custome domain for smartdex space
  spaces/domains.json
  spaces/smartdex-voting.eth/logo.png
  spaces/smartdex-voting.eth/logo1.png
  spaces/smartdex-voting.eth/space.png
Labels: domain

#1165 add smoothy space
  skins/smoothyfinance.scss
  spaces/smoothyfinance.eth/logo.png
  spaces/smoothyfinance.eth/space.png
Labels: invalid

#1256 Added MoonPirate Space
  spaces/domains.json
  spaces/moonpirate.eth/logo.png
  spaces/moonpirate.eth/space.png
Labels: domain

#1266 Adding Qi Dao space
  spaces/domains.json
  spaces/qidao.eth/logo.png
  spaces/qidao.eth/space.png
Labels: domain

#1261 Update domains.json
  spaces/domains.json
Labels: domain

#1273 Add mod.eth space
  spaces/domains.json
  spaces/mod.eth/logo.png
  spaces/mod.eth/space.png
Labels: domain

#1276 Add koaladefi.eth space
  spaces/domains.json
  spaces/koaladefi.eth/logo.png
  spaces/koaladefi.eth/space.png
Labels: domain

#1279 add ballers logo
  spaces/ballers.eth/logo.png
  spaces/ballers.eth/space.png
Labels: standby

#1287 Add IMSuperLeague.eth
  spaces/domains.json
  spaces/imsuperleague.eth/logo.png
  spaces/imsuperleague.eth/space.png
Labels: domain

#1288 Update domains.json
  spaces/domains.json
Labels: domain

#1289 add siphon finance
  spaces/domains.json
  spaces/siphonfinance.eth/logo.png
  spaces/siphonfinance.eth/space.png
Labels: domain

#1291 Add logo for Unicly
  spaces/uniclynft.eth/logo.png
  spaces/uniclynft.eth/space.png
Labels: invalid

#1292 Add new logo, custom domain, and new skin.
  skins/imsuperleague.scss
  spaces/imsuperleague.eth/logo.png
  spaces/imsuperleague.eth/space.png
Labels: domain, standby

#1298 Add custom domain for earnnetwork.eth
  spaces/domains.json
Labels: domain

#1283 Add seedifyfund.eth
  spaces/seedifyfund.eth/logo.png
  spaces/seedifyfund.eth/space.png
Labels: standby

#1301 add iron-polygon.eth space
  spaces/domains.json
  spaces/iron-polygon.eth/logo.png
  spaces/iron-polygon.eth/space.png
Labels: domain

#1297 added honestfinance.eth space and custom domain
  spaces/domains.json
  spaces/honestfinance.eth/logo.png
  spaces/honestfinance.eth/space.png
Labels: domain

#1302 added warp.finance logo, skin, space
  skins/votewarp.scss
  spaces/domains.json
  spaces/votewarp.eth/logo.png
  spaces/votewarp.eth/space.png
Labels: domain

#1303 Add SteakHouse images and domain
  spaces/domains.json
  spaces/vote-steakhouse.eth/logo.png
  spaces/vote-steakhouse.eth/space.png
Labels: domain

#1304 Updated Flash Custom Domain
  spaces/domains.json
Labels: domain

#1306 add fenixtoken.eth
  spaces/domains.json
  spaces/fenixtoken.eth/logo.png
  spaces/fenixtoken.eth/space.png
Labels: domain, standby

#1274 Create logo and space for conqueruranus
  spaces/conqueruranus.eth/logo.png
  spaces/conqueruranus.eth/space.png
  spaces/domains.json
Labels: domain, standby

#1318 Liquifi logo and domain
  spaces/domains.json
  spaces/liquifi.eth/logo.png
  spaces/liquifi.eth/space.png
Labels: domain

#1320 Update logo & domain x0swap.eth
  spaces/domains.json
  spaces/x0swap.eth/logo.png
  spaces/x0swap.eth/space.png
Labels: domain

#1321 Add honeydao space
  spaces/domains.json
  spaces/honeydao.eth/logo.png
  spaces/honeydao.eth/space.png
Labels: domain

#1323 KumaInu Snapshoot
  spaces/domains.json
  spaces/kumainu.eth/logo.png
  spaces/kumainu.eth/space.png
Labels: domain

#1334 Migrate Index Coop space to ENS
  spaces/aliases.json
Labels: migration

#1337 Add custom domain for DFX Finance
  spaces/domains.json
Labels: domain

#1333 Add viralata.eth
  spaces/domains.json
  spaces/viralata.eth/logo.png
  spaces/viralata.eth/space.png
Labels: domain

#1336 Fix and add everything
  spaces/domains.json
  spaces/supershiba.eth/logo.png
  spaces/supershiba.eth/space.png
Labels: domain

#1341 Add GivingToServices Custom Domain
  spaces/domains.json
Labels: domain
