Repository snapshot-labs/snapshot-spaces, pull requests merged in 2021-06, with the labels that each got.

#1345 add spore engineering to spaces domain list
  spaces/domains.json
Labels: domain

#1348 Configure domain for deversifi.eth
  spaces/domains.json
Labels: domain

#1347 Add custom domain and new skin for dogevote.eth
  skins/dogeswap.scss
  spaces/domains.json
Labels: domain

#1350 Change logo to Pocket's new brand
  spaces/pokt-network/logo.png
  spaces/pokt-network/space.png
Labels: invalid

#1351 Suzakucoin.eth domain
  spaces/domains.json
Labels: domain

#1352 Add Moonbud Domain
  spaces/domains.json
Labels: domain

#1353 Update to include crisisdao.eth
  spaces/domains.json
Labels: domain

#1360 Update domains.json
  spaces/domains.json
Labels: domain

#1363 Update domains.json
  spaces/domains.json
Labels: domain

#1364 add grumpy finance domain
  spaces/domains.json
Labels: domain

#1365 add: carbonswap finance domain
  spaces/domains.json
Labels: domain, standby

#1368 Add vote.volatility.com to custom domains
  spaces/domains.json
Labels: domain, standby

#1377 Mapped sushi space to ens name, and added a custom domain
  spaces/aliases.json
  spaces/domains.json
Labels: domain, migration

#1374 [dsbswap.eth] Add custom domain for your space
  spaces/domains.json
Labels: invalid

#1387 add teaswap domain
  spaces/domains.json
Labels: invalid

#1384 Updated GaiaDAO logo and added domain.
  spaces/domains.json
  spaces/gaiadao.eth/logo.png
  spaces/gaiadao.eth/space.png
Labels: domain, standby

#1386 Added "munchproject.io" to domains.json
  spaces/domains.json
Labels: invalid

#1401 Adding tradestars space
  spaces/domains.json
Labels: invalid

#1406 feat: add custom domain for steakbank
  spaces/domains.json
Labels: invalid

#1416 Added DRC Digital Reserve Currency Alias to ENS
  spaces/aliases.json
Labels: migration

#1413 feat: add skin for steakbank
  skins/steakbank.scss
Labels: invalid

#1417 Add skin for APY.Finance
  skins/apy.scss
Labels: invalid

#1423 Add Custom Domain for to-the-moon.farm.eth
  spaces/domains.json
Labels: standby
