Repository snapshot-labs/snapshot-spaces, pull requests merged in 2021-04, with the labels that each got.

#1049 Add Solos Space
  spaces/solos.eth/logo.png
  spaces/solos.eth/space.png
Labels: domain, invalid

#1058 Change Governance Token Address to BEP20 (BSC)
  spaces/griffin/index.json
Labels: ready to merge, strategies

#1063 pepemon domains
  spaces/domains.json
Labels: domain, ready to merge

#1065 add levyathan domain
  spaces/domains.json
Labels: domain

#1052 B.Protocol
  spaces/bsnapshot.eth/logo.png
  spaces/bsnapshot.eth/space.png
  spaces/domains.json
  spaces/m.bsnapshot.eth/logo.png
  spaces/m.bsnapshot.eth/space.png
Labels: domain, ready to merge

#1072 add berrydata.eth space
  spaces/berrydata.eth/logo.png
  spaces/berrydata.eth/space.png
Labels: standby

#1074 add logo and namespace for axion foundation dao
  spaces/axiondao.eth/logo.png
  spaces/axiondao.eth/space.png
  spaces/domains.json
Labels: domain

#1070 blockzerolabs.eth
  skins/blockzerolabs.scss
  spaces/blockzerolabs.eth/logo.png
  spaces/blockzerolabs.eth/logo1.png
  spaces/blockzerolabs.eth/space.png
  spaces/domains.json
Labels: domain, invalid

#1080 Add logo and skin for complus.eth space
  skins/complus.scss
  spaces/complus.eth/logo.png
  spaces/complus.eth/space.png
  spaces/domains.json
Labels: domain, ready to merge

#1056 Fei Protocol Snapshot
  skins/fei.scss
  spaces/domains.json
  spaces/fei.eth/logo.png
  spaces/fei.eth/space.png
Labels: domain, ready to merge

#1079 add logo for strudel.eth space
  spaces/domains.json
  spaces/strudel.eth/logo.png
  spaces/strudel.eth/space.png
Labels: domain, ready to merge

#1082 pollo.eth
  spaces/pollo.eth/logo.png
  spaces/pollo.eth/space.png
Labels: ready to merge

#1085 Supra Finance Addition
  spaces/domains.json
  spaces/suprafinance.xyz/logo.png
  spaces/suprafinance.xyz/space.png
Labels: domain, ready to merge

#1090 Adds Claim logo to claimxyz.eth space
  spaces/claimxyz.eth/logo.png
  spaces/claimxyz.eth/logo1.png
  spaces/claimxyz.eth/space.png
Labels: ready to merge

#1078 add iftip.eth
  spaces/domains.json
  spaces/iftip.eth/logo.png
  spaces/iftip.eth/space.png
Labels: domain, ready to merge

#1091 added treedefi logos
  spaces/domains.json
  spaces/treedefi.eth/logo.png
  spaces/treedefi.eth/space.png
Labels: domain, ready to merge

#1088 adds pleasrDAO logo
  spaces/pleasrdao.eth/logo.png
  spaces/pleasrdao.eth/space.png
Labels: ready to merge

#1092 Added HaloDAO
  spaces/halodao.eth/logo.png
  spaces/halodao.eth/space.png
Labels: invalid

#1104 everipedia
  spaces/domains.json
  spaces/everipediaiq.eth/logo.png
  spaces/everipediaiq.eth/space.png
Labels: domain, ready to merge

#1105 Create $MIGUEL space
  spaces/domains.json
  spaces/token.m1guelpf.eth/logo.png
  spaces/token.m1guelpf.eth/space.png
Labels: domain, standby

#1116 new logos and space name
  spaces/pepedontdump.eth/logo.png
  spaces/pepedontdump.eth/space.png
  spaces/pepemon/index.json
  spaces/pepemon/logo.png
  spaces/pepemon/space.png
Labels: migration

#1115 add alias for rally
  spaces/aliases.json
Labels: invalid, migration

#1117 Add nervefinance.eth images & domain
  spaces/domains.json
  spaces/nervefinance.eth/logo.png
  spaces/nervefinance.eth/space.png
Labels: domain, standby

#1120 Added 2 addresses of members of the DAO
  spaces/mstable/index.json
Labels: standby

#1124 Update domains.json
  spaces/domains.json
Labels: domain, invalid

#1128 Add stakewise space, skin and custom domain
  skins/stakewise.scss
  spaces/domains.json
  spaces/stakewise.eth/logo.png
  spaces/stakewise.eth/logo1.png
  spaces/stakewise.eth/logo2.png
  spaces/stakewise.eth/space.png
Labels: domain

#1132 Add a skin
  skins/dalmatians.scss
  spaces/dalmatians.eth/logo.png
  spaces/dalmatians.eth/space.png
  spaces/domains.json
Labels: domain

#1133 Initial commit add logo Scoobi.eth
  spaces/scoobi.eth/logo.png
  spaces/scoobi.eth/space.png
Labels: invalid

#1110 Add shedapp.eth
  spaces/shedapp.eth/logo.png
  spaces/shedapp.eth/space.png
Labels: standby

#1141 Added HyruleSwap space
  spaces/domains.json
  spaces/hyruleswap.eth/logo.png
  spaces/hyruleswap.eth/space.png
Labels: domain

#1140 Added space for Shard
  skins/shardcoin.scss
  spaces/domains.json
  spaces/shardcoin.eth/logo.png
  spaces/shardcoin.eth/space.png
Labels: domain, standby

#1118 Add Waifusion
  spaces/waifusiongov.eth/logo.png
  spaces/waifusiongov.eth/space.png
Labels: invalid

#1144 Add LightningDAO to snapshot-spaces
  spaces/domains.json
  spaces/levinswap.eth/logo.png
  spaces/levinswap.eth/space.png
Labels: domain

#1142 feat: add pippi swap
  spaces/domains.json
  spaces/pippi.eth/logo.png
  spaces/pippi.eth/space.png
Labels: domain

#1150 Add skin and custom domain for mask network
  skins/masknetwork.scss
  spaces/domains.json
Labels: domain

#1151 Adding space for lift.kitchen
  spaces/domains.json
  spaces/liftkitchen.eth/logo.png
  spaces/liftkitchen.eth/space.png
Labels: domain

#1157 Added LatticeGov domain
  spaces/domains.json
Labels: domain

#1158 Add xSigma custom domain
  spaces/domains.json
Labels: domain

#1160 Add libertas.eth
  spaces/domains.json
  spaces/libertas.eth/logo.png
  spaces/libertas.eth/space.png
Labels: domain, standby

#1162 add dappchaser.eth to domains.json
  spaces/domains.json
Labels: domain, standby
